<%= form_for(@admin_banner) do |f| %>
  <% if @admin_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_banner.errors.count, "error") %> prohibited this admin_banner from being saved:</h2>

      <ul>
      <% @admin_banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lg_title %><br>
    <%= f.text_field :lg_title %>
  </div>
  <div class="field">
    <%= f.label :lg_description %><br>
    <%= f.text_field :lg_description %>
  </div>
  <div class="field">
    <%= f.label :lg_url %><br>
    <%= f.text_field :lg_imageurl %>
  </div>
  <div class="field">
    <%= f.label :lg_type %><br>
    <%= f.number_field :lg_type %>
  </div>
  <div class="field">
    <%= f.label :lg_btntitle %><br>
    <%= f.text_field :lg_btntitle %>
  </div>
  <div class="field">
    <%= f.label :lg_link %><br>
    <%= f.text_field :lg_link %>
  </div>
  <div class="field">
    <%= f.label :lg_status %><br>
    <%= f.number_field :lg_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
