<p id="notice"><%= notice %></p>

<p>
  <strong>Lg title:</strong>
  <%= @admin_banner.lg_title %>
</p>

<p>
  <strong>Lg description:</strong>
  <%= @admin_banner.lg_description %>
</p>

<p>
  <strong>Lg url:</strong>
  <%= @admin_banner.lg_url %>
</p>

<p>
  <strong>Lg type:</strong>
  <%= @admin_banner.lg_type %>
</p>

<p>
  <strong>Lg btntitle:</strong>
  <%= @admin_banner.lg_btntitle %>
</p>

<p>
  <strong>Lg link:</strong>
  <%= @admin_banner.lg_link %>
</p>

<p>
  <strong>Lg status:</strong>
  <%= @admin_banner.lg_status %>
</p>

<%= link_to 'Edit', edit_admin_banner_path(@admin_banner) %> |
<%= link_to 'Back', admin_banners_path %>
