<p id="notice"><%= notice %></p>

<p>
  <strong>S name:</strong>
  <%= @admin_store.s_name %>
</p>

<p>
  <strong>S description:</strong>
  <%= @admin_store.s_description %>
</p>

<p>
  <strong>S address:</strong>
  <%= @admin_store.s_address %>
</p>

<p>
  <strong>S phone:</strong>
  <%= @admin_store.s_phone %>
</p>

<p>
  <strong>S email:</strong>
  <%= @admin_store.s_email %>
</p>

<p>
  <strong>S logo:</strong>
  <%= @admin_store.s_logo %>
</p>

<p>
  <strong>S acc skype:</strong>
  <%= @admin_store.s_acc_skype %>
</p>

<p>
  <strong>S fb title:</strong>
  <%= @admin_store.s_fb_title %>
</p>

<p>
  <strong>S fb name:</strong>
  <%= @admin_store.s_fb_name %>
</p>

<p>
  <strong>S fb link:</strong>
  <%= @admin_store.s_fb_link %>
</p>

<p>
  <strong>S fb appid:</strong>
  <%= @admin_store.s_fb_appid %>
</p>

<p>
  <strong>C year:</strong>
  <%= @admin_store.c_year %>
</p>

<p>
  <strong>C link:</strong>
  <%= @admin_store.c_link %>
</p>

<p>
  <strong>C trade:</strong>
  <%= @admin_store.c_trade %>
</p>

<p>
  <strong>S acc tw:</strong>
  <%= @admin_store.s_acc_tw %>
</p>

<p>
  <strong>S sitemap:</strong>
  <%= @admin_store.s_sitemap %>
</p>

<%= link_to 'Edit', edit_admin_store_path(@admin_store) %> |
<%= link_to 'Back', admin_stores_path %>
