<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>KH Shop</title>
<meta name="generator" content="haiwebcc"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1, initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<%= stylesheet_link_tag    'sanpham', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body id="order" class="order hide-left-column hide-right-column lang_en">	
<div id="page">
  <div class="main-wrap-center">
<div class="main-wrap">
  <%= render 'sanpham/header' %>
  <div class="columns-container">
<div class="container" id="columns">

<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
<a title="Trang chủ" href="<%= root_path%>" class="home"><i class="icon-home"></i></a>
<span class="navigation-pipe">&gt;</span>
<span class="navigation_page">Thông tin cá nhân</span>
</div>
<!-- /Breadcrumb -->
<!------Content--------->
<div class="row">
	<div class="col-xs-12 col-sm-6">
	<div id="login_form" class="box">
		<h3 class="page-subheading">Thông tin của tôi</h3>
		<div class="form_content clearfix">
			<p>Vui lòng điền đầy đủ thông tin để chúng tôi có thể gửi các tin khuyến mãi và cập nhật điểm thưởng cho bạn.</p>
			
			<%= form_tag("my_info", method: "get") do %>
			<div class="form-group"><label for="email">Email</label>
			<input disabled="disabled" type="text" class="form-control" id="txtEmail" name="txtEmail" value="<%= @cus[:cus_email]%>">
			</div>
			<div class="form-group"><label for="passwd">Password</label>
				<span><input type="password" class="form-control" id="txtPasswd" name="txtPasswd" value="<%= @cus[:cus_password]%>"></span>
			</div>
			<div class="form-group"><label for="email">Họ tên</label>
			<input type="text" class="form-control" id="txtName" name="txtName" value="<%= @cus[:cus_name]%>">
			</div>
			<div class="form-group"><label for="email">Địa chỉ</label>
			<input type="text" class="form-control" id="txtAddress" name="txtAddress" value="<%= @cus[:cus_address]%>">
			</div>
			<div class="form-group"><label for="email">Điện thoại</label>
			<input type="text" class="form-control" id="txtPhone" name="txtPhone" value="<%= @cus[:cus_phone]%>">
			</div>
			<div class="form-group"><label for="email">Điểm thưởng hiện tại</label>
			<input style="width: 100px;" disabled="disabled" type="text" class="form-control" id="txtPoint" name="txtPoint" value="<%= @cus[:cus_points]%>">
			</div>
			<p class="submit">
				<button type="button" id="btnoSave" name="btnoSave" class="button btn btn-default button-medium">
					<span><i class="icon-lock left"></i>Lưu lại</span>
				</button>&nbsp;&nbsp;&nbsp;<img src="<%=asset_path('index/zoomloader.gif')%>" style="display: none;" id="imgloading3">
			</p>
			<%end%>	
		</div>
	</div>
</div>
</div>
<!-----//-Content------->
</div>
  </div>
  <%= render 'sanpham/footer' %>
</div>
  </div>
</div>

<script type="text/javascript">
var CUSTOMIZE_TEXTFIELD = 1;
var FancyboxI18nNext = 'Next';
var FancyboxI18nPrev = 'Previous';
var FancyboxboxI18nClose = 'Close';
var contentOnly = false;
var static_token = '';
var baseDir = '';
var baseUri = '';
var blocksearch_type = 'top';
var quantityAvailable = 1000000;
var homeslider_loop = '1';
var homeslider_pause = '5000';
var homeslider_speed = '500';
var homeslider_width = '1168';

var img_dir = '';
var quickView = true;
var roundMode = 2;
var search_url = '';
</script>
<%= javascript_include_tag 'sanpham', 'data-turbolinks-track' => true %>
<script>
	$("#btnoSave").click(function(){
		$("#imgloading3").show();
		var hashData = new Object();
		var id = <%= @cus.id%>;
		hashData["name"] = $("#txtName").val();
		hashData["phone"] = $("#txtPhone").val();
		hashData["address"] = $("#txtAddress").val();
		hashData["passwd"] = $("#txtPasswd").val();
		
		$.ajax({
		url:"/customers/"+id+"/update",
		dataType: "json",
		data: {'hashData': hashData},
		success:function(result){
	    	alert("Cập nhật thông tin thành công !");
	    	$("#imgloading3").hide();
	    	location.reload();
	  }});
	});
</script>
</body>
</html>