<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>KH Shop</title>
<meta name="generator" content="haiwebcc"/>
<meta name="robots" content="index,follow"/>
<meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1, initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
<%= stylesheet_link_tag    'sanpham', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body id="order" class="order hide-left-column hide-right-column lang_en">	
<div id="page">
  <div class="main-wrap-center">
<div class="main-wrap">
  <%= render 'sanpham/header' %>
  <div class="columns-container">
<div class="container" id="columns">

<!-- Breadcrumb -->
<div class="breadcrumb clearfix">
<a title="Trang chủ" href="<%= root_path%>" class="home"><i class="icon-home"></i></a>
<span class="navigation-pipe">&gt;</span>
<span class="navigation_page">Đặt hàng thành công</span>
</div>
<!-- /Breadcrumb -->
<div class="row">
<div class="center_column col-xs-12 col-sm-12" id="top_column"></div>
</div>
<div class="row">
<div class="center_column col-xs-12 col-sm-12" id="center_column">
<!-----Customer Information------>
<p class="alert alert-success" id="emptyCartWarning" >Đặt hàng thành công</p>
<p class="cart_navigation clearfix">
<a title="Trở về trang chủ" class="button-exclusive btn btn-default" href="<%= root_path%>">
<i class="icon-chevron-left"></i>Trở về trang chủ
</a>
</p>
<form class="box" action="">
<div class="row">
<div class="col-xs-12 col-sm-6">

<h3 class="page-subheading">Thông tin khách hàng</h3>
<div class="form_content clearfix">
<p>Vui lòng nhập đầy đủ thông tin vào ô bên dưới :</p>
<div style="display: none;" id="create_account_error" class="alert alert-danger">Vui lòng nhập email</div>
<div class="form-group"><label for="email_create">Tên khách hàng</label>
<input type="text" class="form-control" />

</div>
<div class="form-group"><label for="email_create">Địa chỉ</label>

</div>
<div class="form-group"><label for="email_create">Điện thoại</label>

</div>
<div class="form-group"><label for="email_create">Email</label>

</div>

</div>

</div>
</div>
<!---end---Customer Information------------>
</form>




</div><!-- #center_column -->
</div><!-- .row -->
</div>
  </div>
  <%= render 'sanpham/footer' %>
</div>
  </div>
</div>
<script type="text/javascript">
var CUSTOMIZE_TEXTFIELD = 1;
var FancyboxI18nNext = 'Next';
var FancyboxI18nPrev = 'Previous';
var FancyboxboxI18nClose = 'Close';
var contentOnly = false;
var static_token = '';
var baseDir = '';
var baseUri = '';
var blocksearch_type = 'top';
var quantityAvailable = 1000000;
var homeslider_loop = '1';
var homeslider_pause = '5000';
var homeslider_speed = '500';
var homeslider_width = '1168';

var img_dir = '';
var quickView = true;
var roundMode = 2;
var search_url = '';
</script>
<%= javascript_include_tag 'sanpham_detail', 'data-turbolinks-track' => true %>
</body>
</html>