<%= form_for(@admin_systemconfig) do |f| %>
  <% if @admin_systemconfig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_systemconfig.errors.count, "error") %> prohibited this admin_systemconfig from being saved:</h2>

      <ul>
      <% @admin_systemconfig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :backend_lang %><br>
    <%= f.text_field :backend_lang %>
  </div>
  <div class="field">
    <%= f.label :frontend_lang %><br>
    <%= f.text_field :frontend_lang %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :number_bestbuy %><br>
    <%= f.number_field :number_bestbuy %>
  </div>
  <div class="field">
    <%= f.label :number_bestsell %><br>
    <%= f.number_field :number_bestsell %>
  </div>
  <div class="field">
    <%= f.label :number_category %><br>
    <%= f.number_field :number_category %>
  </div>
  <div class="field">
    <%= f.label :is_viewer %><br>
    <%= f.number_field :is_viewer %>
  </div>
  <div class="field">
    <%= f.label :is_description %><br>
    <%= f.number_field :is_description %>
  </div>
  <div class="field">
    <%= f.label :google_access_id %><br>
    <%= f.text_field :google_access_id %>
  </div>
  <div class="field">
    <%= f.label :google_secret_key %><br>
    <%= f.text_field :google_secret_key %>
  </div>
  <div class="field">
    <%= f.label :google_bucket %><br>
    <%= f.text_field :google_bucket %>
  </div>
  <div class="field">
    <%= f.label :google_analytic_id %><br>
    <%= f.text_field :google_analytic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
