<div id="right"> 
    <!-- table -->
    <div class="box"> 
      <!-- box / title -->
      <div class="title">
        <h5>Danh sách sản phẩm</h5>
      </div>
      <!-- end box / title -->
      <div class="table">
      	<div class="action">
		<div class="button">
			<%= link_to "Thêm sản phẩm",new_admin_product_path,:class=>"ui-button ui-widget ui-state ui-corner-all"%>
		</div>
	  </div>
	  <br clear="all" /><br clear="all" />
        <form action="" method="post">
          <table>
            <thead>
              <tr>
              	<th class="selected">STT</th>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Ngày đăng</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
            <% @admin_products.each.with_index  do |admin_product,index| %>	
              <tr>
              	<td class="selected"><%=index+1%></td>
                <td class="price"><%= image_tag(admin_product.image_url, height: "150")%></td>
                <td class="date"><%= admin_product.name %></td>
                <td class="price"><%= admin_product.created_at %></td>
                <td class="category">
                <div class="btncontrol">
                	<%= link_to image_tag(asset_path('admin/pencil.png')), edit_admin_product_path(admin_product), :title=>"Sửa"%>
                    <div style="width:10px;"></div>
                    <%= link_to image_tag(asset_path('admin/remove.png')), admin_product, method: :delete, data: { confirm: 'Bạn có chắc muốn xóa ?' }, :title=>"Xóa" %>
                </div>
                </td>
              </tr>
             <%end%> 
            </tbody>
          </table>
        </form>
      </div>
    </div>
    <!-- end table --> 
</div>