<div id="right"> 
    <div class="box  box-padding ui-tabs ui-widget ui-widget-content ui-corner-all" id="box-left-tabs">
<!-- box / title -->
<div class="title">
<h5 align="center" style="float: none;">Thêm sản phẩm mới</h5>
<ul class="links ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
<li class="ui-state-default ui-corner-top  ui-tabs-selected ui-state-active"><a href="#box-left-forms">Thông tin chung</a></li>
<li class="ui-state-default ui-corner-top"><a href="#box-left-other">SEO</a></li>
<li class="ui-state-default ui-corner-top"><a href="#box-left-other-link">Liên kết</a></li>
<li class="ui-state-default ui-corner-top"><a href="#box-left-other-attr">Thuộc tính</a></li>
<li class="ui-state-default ui-corner-top"><a href="#box-left-other-promotion">Khuyến mãi</a></li>
</ul>
</div>
<!-- end box / title -->
<!-- box / form -->
  <%= form_for @admin_product, :html => { :multipart => true } do |f| %>
  <!-- box / messages -->
 <% if @admin_product.errors.any? %>
  <div id="box-messages" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
		<div class="messages">
			<div class="message message-error" id="message-error">
				<div class="image">
					<img height="32" alt="Error" src="<%=asset_path('admin/error.png')%>">
				</div>
				<div class="text">
					<h6>Có <%= pluralize(@admin_product.errors.count, "lỗi") %> xảy ra !</h6>
					<% @admin_product.errors.full_messages.each do |message| %>
				        <span><%= message %></span>
				    <% end %>
				</div>
				<div class="dismiss">
					<a href="#message-error"></a>
				</div>
			</div>
		</div>
	</div>
	<%end%>
  <!-- end box / messages -->
  
<div id="box-left-forms">
<div class="form">
<div class="fields">
	
<div class="field">
  <div class="label"><label for="input-small">Tên sản phẩm:</label></div>
  <div class="input"><%= f.text_field :name, :class=>"medium" %></div>
</div>
<div class="field">
  <div class="label"><label for="select">Thể loại:</label></div>
  <div class="select"><%= f.select :catid,@cat.collect{ |c| [c.name, c.id]},{},:class=>"styledselect_form_1"%></div>
</div>
<div class="field">
  <div class="label"><label for="input-small">Model:</label></div>
  <div class="input"><%= f.text_field :model, :class=>"tiny" %></div>
</div>
<div class="field">
  <div class="label"><label for="input-small">Trọng lượng:</label></div>
  <div class="input"><%= f.text_field :weight, :class=>"tiny" %>&nbsp;<i>gr</i></div>
</div>
<div class="field">
  <div class="label"><label for="input-small">Số lượng:</label></div>
  <div class="input"><%= f.text_field :quantity, :class=>"tiny" %></div>
</div>
<div class="field">
  <div class="label"><label for="input-small">Giá:</label></div>
  <div class="input"><%= f.text_field :price, :class=>"small" %></div>
</div>

<div class="field">
  <div class="label"><label for="input-small">Mô tả:</label></div>
  <div class="textarea textarea-editor"><%= f.text_area :description%></div>
</div>
<div class="field">
  <div class="label"><label for="input-small">Hình ảnh:</label></div>
  <div class="input input-file"><%= f.file_field :image, :class=>"file"%></div>
</div>

<div class="field">
  <div class="label"><label for="select">Tình trạng:</label></div>
  <div class="select">
    <%= f.select( :status, options_for_select([["Chưa kích hoạt",0],["Đã kích hoạt",1]], :selected=>f.object.status))%>                
  </div>
</div>
<div class="buttons"><%= f.submit "Lưu lại",:class=>"form-submit" %></div>
  </div>
</div>

<!-- end box / form -->
</div>
<div id="box-left-other" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<!-- paragraphs -->
<div class="form">
<div class="fields">
	
<div class="field">
  <div class="label"><label for="input-small">Meta keyword:</label></div>
  <div class="input"><%= f.text_field :meta_keyword, :class=>"medium" %>&nbsp;<i>Các từ khóa cách nhau bởi dấu gạch ngang (-) và &nbsp;không có khoảng trắng !</i></div>
</div>


<div class="field">
  <div class="label"><label for="input-small">Meta description:</label></div>
  <div style="height: 100px;" class="textarea textarea-editor"><%= f.text_area :meta_description, :class=>"medium" %></div>
</div>

<div class="buttons"><%= f.submit "Lưu lại",:class=>"form-submit" %></div>
  </div>
</div>
<!-- end paragraphs -->
</div>

<div id="box-left-other-link" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<!-- paragraphs -->
<div class="form">
<div class="fields">
	
<div class="field">
  <div class="label"><label for="input-small">Nhà sản xuất:</label></div>
  <div class="select"><%= f.select :manufacturer,@nsx.collect{ |c| [c.name, c.id]},{},:class=>"styledselect_form_1"%></div>
</div>


<div class="field">
  <div class="label"><label for="input-small">Tags:</label></div>
  <div class="input"><%= f.text_field :tags, :class=>"medium" %></div>
</div>

<div class="buttons"><%= f.submit "Lưu lại",:class=>"form-submit" %></div>
  </div>
</div>
<!-- end paragraphs -->
</div>
<div id="box-left-other-attr" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<!-- paragraphs -->
<div class="table">
<table id="tblAttr">
<thead>
  <tr>
<th>Tên thuộc tính</th>
<th>Mô tả</th>
<th>Thao tác</th>
  </tr>
</thead>
<tbody  id="r_tbody">
<% if @attr%>
<% @attr.each do |at| %>
<% if at > 0 %>
<tr class="trData">
<td class="price"><input type="text" class="txtAttr" value="<%= get_attribute(at.to_i).name%>" /></td>
<td class="date"><input style="width: 300px;" type="text" class="txtAttrDes medium" value="<%= get_attribute(at.to_i).description%>" /></td>
<td class="category">
<div class="btncontrol">
<a onclick="removeRow(this);" class="btnXoa"><%= image_tag(asset_path('admin/remove.png')) %></a>
</div>
</td>
</tr>	
<%end%>
<%end%>
<%end%>
<tr>
<td class="category">
<div class="btncontrol">
<input type="button" id="btnAdd" value="Thêm" />
</div>
</td>
</tr>  
</tbody>
<input id="hidProID" value="<%= @admin_product.id%>" type="hidden" />
</table>

</div>
<div class="form">
<div class="fields">
<div class="buttons"><input type="button" value="Lưu lại" id="btnLuuLai" class="form-submit ui-button ui-widget ui-state-default ui-corner-all" ></div>
  </div>
</div>
<script>
$('#btnAdd').click(function(){
$('#r_tbody').append('<tr class="trData">\
<td class="price"><input type="text" class="txtAttr" value="" /></td>\
<td class="date"><input style="width: 300px;" type="text" class="txtAttrDes medium" value="" /></td>\
<td class="category">\
<div class="btncontrol">\
<a onclick="removeRow(this);" class="btnXoa"><%= image_tag(asset_path('admin/remove.png')) %></a>\
    </div>\
    </td>\
  </tr>');
});
function removeRow(r)
{
	var i = r.parentNode.parentNode.parentNode.rowIndex;
	document.getElementById("tblAttr").deleteRow(i);
}
$('#btnLuuLai').click(function(){
	
	var tableTitleData = $('#r_tbody').find("tr.trData td input.txtAttr").map(function() {
		return $(this).val();
	}).get();
	var tableDesData = $('#r_tbody').find("tr.trData td input.txtAttrDes").map(function() {
		return $(this).val();
	}).get();
	
	var hashData = new Object();
	
	var arrTitle = tableTitleData.toString().split(",")
	var arrDes = tableDesData.toString().split(",")
	
	for(var i = 0; i < arrTitle.length; i++)
	{
		hashData[arrTitle[i]] = arrDes[i]
	}
	var id = $('#hidProID').val();
	$.ajax({
		url:"/admin/products/"+id+"/add_attr",
		dataType: "json",
		data: {'hashData': hashData},
		success:function(result){
	    alert("Thay đổi thuộc tính thành công !");
	  }});
	  
});
</script>
<!-- end paragraphs -->
</div>
<div id="box-left-other-promotion" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<!-- paragraphs -->
<div class="form">
<div class="fields">
	
<div class="field">
  <div class="label"><label for="input-small">Giá đặc biệt:</label></div>
  <div class="input"><%= f.text_field :special, :class=>"medium" %></div>
</div>


<div class="field">
  <div class="label"><label for="input-small">Điểm thưởng:</label></div>
  <div class="input"><%= f.text_field :reward_point, :class=>"medium" %></div>
</div>

<div class="buttons"><%= f.submit "Lưu lại",:class=>"form-submit" %></div>
  </div>
</div>
<!-- end paragraphs -->
</div>
<%end%>
</div>
</div>